/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
    -fx-font-size: 18pt;
    -fx-font-family: "Verdana";
    -fx-background-color: linear-gradient(217deg, rgba(41,181,232,.8), rgba(41,181,232,0) 70.71%), linear-gradient(127deg, rgba(125,220,255,.5), rgba(125,220,255,0) 70.71%), linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    -fx-padding: 20px;

}

#welcome {
	-fx-padding: 0 0 50 0;
	-fx-font-size: 25pt;
	-fx-font-weight: bold;
}

#gridpane {
	-fx-alignment: center;
	-fx-vgap: 80;
    
}

#popup {
	-fx-background-color: #f5f5f5;
	-fx-border-width: 3;
	-fx-border-style: solid;
	-fx-min-height: 120;
	-fx-min-width: 400;
}

#topicsVBox {
	-fx-alignment: center;
}

.label {
    -fx-text-fill: #FFFFFF;
    
    }
    