/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
    -fx-font-size: 18pt;
    -fx-font-family: "Arial";
    -fx-background: #C7FFFF;
    -fx-padding: 20px;

}

#welcome {
	-fx-padding: 0 0 50 0;
	-fx-font-size: 25pt;
}

#gridpane {
	-fx-alignment: center;
	-fx-vgap: 80;
    
}

#popup {
	-fx-background-color: #f5f5f5;
	-fx-border-width: 3;
	-fx-border-style: solid;
	-fx-min-height: 120;
	-fx-min-width: 400;
}