/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
    -fx-font-size: 18.0pt;
    -fx-font-family: "Verdana";
    -fx-background-color: linear-gradient(from 25.0% 25.0% to 100.0% 100.0%, #1fc8db, #2cb5e8);
    -fx-padding: 20.0px;

}

#welcome {
	-fx-padding: 0.0 0.0 50.0 0.0;
	-fx-font-size: 25.0pt;
	-fx-font-weight: bold;
}

#gridpane {
	-fx-alignment: center;
	-fx-vgap: 80.0;
    
}

#popup {
	-fx-background-color: #f5f5f5;
	-fx-border-width: 3.0;
	-fx-border-style: solid;
	-fx-min-height: 120.0;
	-fx-min-width: 400.0;
}

#popup > .label{
	-fx-text-fill: #000000;
}

#topicsVBox {
	-fx-alignment: center;
}

.label {
    -fx-text-fill: #FFFFFF;
    
    }
    
.labelPathName {
    -fx-text-fill: #000000;
    
    }